.search-bar {
    margin-top: 50px;
}

.navbar-nav > .nav-item {
    margin-right: 0.5rem;
}

.remove-stock-button {
    --bs-btn-padding-y: 0rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: 0.8rem;
}